
/*RESETEO DEL SITIO*/
*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box; /* es para mantener un tamaño fijo de una caja*/
}

/*---ESTILOS GENERAL---*/
html{
    font-size: 62.5%;    
}

body{
    background-color: #202020;
    /* background-color:black; */
    font-style: italic;   
    font-family: 'Montserrat', sans-serif;
}

/* ---------------CONTENEDOR INDEX------------------------*/

.contenedor{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr 0.1fr 0.1fr;
    grid-template-areas:     
    "logo"
    "menus"
    "main"
    "desc"
    "footer";    
}

.logo{
    width: 60%;
    height: auto;
    /* width: 500px;
    height: 100%; */
    border-left: solid 1px orange;
    border-right: solid 1px orange;
    padding: 1px;           
} 

#grad{
    background-image: linear-gradient(to top, black,  #202020);
}

.area_logo{
    position: sticky;
    top: 0px;
    z-index: 1000px;
    grid-area: logo;
    display: flex;
    justify-content: center; 
}

.header_index{
    position: sticky;
    top: 94px;
    z-index: 1000px;
}

.area_main{
    grid-area: main;
}

.menu_principal{
    grid-area: menus; 
    background-color: rgba(116, 13, 13, 0.495);   
    text-align: center; 
    border-top: solid 1px orange;
    border-bottom: solid 1px orange;           
}

.menu_principal ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
} 

.menu_principal ul li{
    list-style-type: none; 
    padding: 20px 20px;    
}

.menu_principal ul li a{
    color: orange;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 5px;
    font-weight: bold;
    background-color: #202020;     
}

.menu_principal ul li a:hover{
    background-color: orange;
    color:black;
}

.estilos_foto_principal{
    height: auto;
    text-align: center;
}

.estilos_foto_principal img{
    width: 30%;
    height: auto;      
    padding: 5px;
    border: solid 1px orange; 
    margin: 40px;   
}

.descripcion_banda{    
    grid-area: desc;
    margin: 20px 300px;
    padding: 10px; 
    border-top: solid 1px orange;     
}

.descripcion_banda p{
    font-size: 15px;       
    color: orange;     
}

.descripcion_banda p span{
    background-color: orange;       
    color: black;
    font-weight: bold;
    padding: 2px;     
}

.area_footer{
    grid-area: footer;
    position: fixed;
    bottom: 1px;                 
}


/* ----TAMAÑO TABLET INDEX-------- */

 @media  screen and (max-width: 768px ) {
    .contenedor{
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 0.8fr 0.1fr 0.1fr;
        grid-template-areas:     
        "logo logo"
        "main menus"
        "desc desc"
        "footer footer";    
    }    

    .area_logo{
        border-bottom: solid 1px orange;        
    }

    .header_index{
        position: inherit;
    }

    .menu_principal{
        border-top: none;
        border-bottom: none;
        /* margin: 0px;  */            
    }

    .menu_principal ul{
        display: flex;
        flex-direction: column;
        justify-content: center;               
    } 

    .menu_principal ul li{
        display: flex;
        flex-direction: column;
        justify-content: center;        
        padding: 10px 10px;
        margin: 0px 80px;        
    }

    .descripcion_banda{
        margin: 0px;                    
    }     

    .area_main{
        display: flex;
        flex-direction: column;
        justify-content: center;        
    }

    .estilos_foto_principal{
        display: flex;
        flex-direction: row;
        justify-content: center;                
    }

    .estilos_foto_principal img{
        width: 65%;
        height: auto;
        margin: 0px;        
    }

    .area_footer{      
        position: inherit;                               
    }    
    
    .area_footer div{
        text-align: center;
        background-color: rgba(116, 13, 13, 0.495); 
        padding: 50px;          
    }    
    
    #grad_footer{
        background-image: linear-gradient(to top, black,  #202020);
    }
    
} 

/* ----TAMAÑO CELU INDEX-------- */

@media  screen and (max-width: 425px ) {
    .contenedor{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.4fr 0.4fr 0.1fr;
        grid-template-areas:     
        "logo"        
        "main"
        "menus"
        "footer";    
    }    

    .logo{
        width: 90%;
        height: auto;
        border-left: none;
        border-right: none;                         
    } 

    .menu_principal ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: solid 1px orange;
        border-bottom: solid 1px orange;
    } 

    .menu_principal ul li{
        padding: 15px 15px;        
    }

    .descripcion_banda{
        display: none;       
    }    

    .estilos_foto_principal img{
        width: 50%;
        height: auto;
        margin: 20px;           
    }

    .estilos_foto_principal{
        border: none;              
    }

    .area_footer{      
        position: inherit;                               
    }    
    
    .area_footer div{
        text-align: center;
        background-color: rgba(116, 13, 13, 0.495); 
        padding: 5px; 
        /* margin: 20px 0px; */    
    }

    #grad_footer{
        background-image: linear-gradient(to top, black,  #202020);
    }
} 

/* -------------  CONTENEDOR COMIC------------------------------*/

.contenedor_comic{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.01fr 0.03fr 0.03fr 0.2fr 0.5fr 0.1fr;
    grid-template-areas:     
    "logo_comic"
    "menu_comic"
    "main_comic" 
    "alinear"   
    "capitulos"
    "footer_comic"; 
}

.logo_comic{
    width: 60%;
    height: auto;    
    border-left: solid 1px orange;
    border-right: solid 1px orange;
    padding: 1px;           
} 

#grad_comic{
    background-image: linear-gradient(to top, black,  #202020);    
}

.area_logo_comic{
    position: sticky;
    top: 0px;   
    z-index: 1000px;
    grid-area: logo_comic;
    display: flex;
    justify-content: center; 
}

.area_main_comic{
    grid-area: main_comic;
}

h1{
    font-size: 25px;
    text-align: center;    
    color: orange;    
}

.centrar_intro_comic{
    display: flex;
    justify-content: center;
}

.intro_comic{
    width: 80%; 
    height: auto;   
    color: orange;
    font-size: 15px;
    background-color:  rgba(116, 13, 13, 0.495);
   /*  margin: 10px 0px; */
    padding: 5px;
    text-align: justify;    
}

.dimension_foto_comic{
    width: 100%;
    height: auto;
}

.foto_comic{    
    padding: 40px;
}

.menu_principal_comic{ 
    /* width: 100%; */
    /* height: auto;  */  
    grid-area: menu_comic; 
    background-color: rgba(116, 13, 13, 0.495);   
    text-align: center; 
    border-top: solid 1px orange;
    border-bottom: solid 1px orange;         
}

.menu_principal_comic ul{ 
    display: flex;
    flex-direction: row;
    justify-content: center;    
}
.menu_principal_comic ul li{
    list-style-type: none; 
    padding: 20px 20px;    
}
.menu_principal_comic ul li a{
    color: orange;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 5px;
    font-weight: bold;
    background-color: #202020;  
}
.menu_principal_comic ul li a:hover{
    background-color: orange;
    color:black;
}

.alinear{
    grid-area: alinear;
    display: flex;
    flex-direction: row;
    justify-content: center; 
                  
}

.estilos_comic ul li a{
    color: orange;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    font-weight: bold;
    border-bottom: solid 1px orange;      
}

.estilos_comic ul li{    
    font-weight: bold;
    padding: 10px ; 
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;          
}

.estilos_comic ul{
    padding: 25px; 
    margin: 10px 50px 0px 0px;        
}

.comic{
    width: 90%;    
    height: auto;
    margin: 5px;
}

.capitulos{
    grid-area: capitulos;    
}

.capitulos div{
    background-color:  rgba(116, 13, 13, 0.495);
    padding: 5px;
    text-align: center;
     
}

.comic{
    width: 70%;    
    height: auto;
    margin: 5px;
}

h3{
    width: 40%;
    background-color: black;
    padding: 5px;
    font-size: 18px;
    color: orange; 
}


.capitulos h2{
    font-size: 20px;
    text-align: justify;
    color: orange;
    margin: 20px 0px;
    border-top: solid 1px orange;  
}

.capitulos div a{
    color: orangered;
    font-size: 15px;
    text-decoration: none;
    display: block;
    text-align: center;    
}

.area_footer_comic{
    grid-area: footer_comic;
    position: fixed;
    bottom: 1px;                 
}

/* ----TAMAÑO TABLET COMIC-------- */

@media  screen and (max-width: 768px ) {
    .contenedor_comic{
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.6fr 0.1fr;
        grid-template-areas:     
        "logo_comic logo_comic"
        "main_comic menu_comic"
        "alinear alinear"    
        "capitulos capitulos"
        "footer_comic footer_comic";     
    }    
    
    .area_logo_comic{        
        position: sticky;
        top: 0px;
        z-index: 1000px; 
        border-bottom: solid 1px orange;        
    }

    h1{ 
        background-color: rgba(116, 13, 13, 0.495);       
        padding: 5px;        
    }

    h3{        
        font-size: 15px;         
    }

    .intro_comic{    
        background-color: #202020; 
        margin: 0px 5px;
        width: 90%;
    }

    .dimension_foto_comic{
        width: 90%;        
    }

    .foto_comic{ 
        padding: 10px;
    }

    .alinear{
        border-top: solid 1px orange;
    }
    .estilos_comic ul{
        padding: 25px; 
        margin: 10px 1px 0px 0px;        
    }

    .header_comic{
        position: inherit;
    }

    .menu_principal_comic{
        height: 350px;
        border-top: none;
        border-bottom: none;
                          
    }

    .menu_principal_comic ul{
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
                             
    } 

    .menu_principal_comic ul li{
        display: flex;
        flex-direction: column;
        justify-content: center;        
        padding: 10px;
        margin: 0px 80px;               
    } 
    
    .area_footer_comic{         
        position: inherit;                               
    }    
    
    .area_footer_comic div{
        text-align: center;
        background-color: rgba(116, 13, 13, 0.495); 
        padding: 50px;            
    }
    
    #grad_footer_comic{
        background-image: linear-gradient(to top, black,  #202020);
    }
    
}

/* ----TAMAÑO TABLET 2 COMIC-------- */

@media  screen and (max-width: 614px ){

    .intro_comic{
        font-size: 10px;
    }
}


/* ----TAMAÑO CELU COMIC-------- */

@media  screen and (max-width: 425px ) {
    .contenedor_comic{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 0.04fr 0.01fr 0.01fr 0.1fr 0.3fr 0.01fr;
        grid-template-areas:     
        "logo_comic"
        "menu_comic"
        "main_comic"
        "alinear"    
        "capitulos"
        "footer_comic";     
    } 

    .logo_comic{
        width: 90%;
        height: auto;
        border-left: none;
        border-right: none;                  
    }     

    h1{ 
        text-align: center;       
    }

    .capitulos h2{
        font-size: 12px;        
        margin: 20px 0px;
        padding: 1px;        
    }

    h3{  
        width: 100%;      
        font-size: 50px;         
    }

    .intro_comic{
        display: none;
    }

    .foto_comic{
        text-align: center;                
    }
    
    .dimension_foto_comic{
        width: 80%;        
    }

    .alinear{
        display: flex;
        flex-wrap: wrap;           
    }

    .menu_principal_comic{
        height: auto;
    }

    .menu_principal_comic ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: solid 1px orange;
        border-bottom: solid 1px orange;
    } 

    .menu_principal_comic ul li{
        padding: 10px 10px;               
    }

    .area_footer_comic{      
        position: inherit;                               
    }    
    
    .area_footer_comic div{        
        text-align: center;
        background-color: rgba(116, 13, 13, 0.495); 
        padding: 5px; 
        /* margin: 20px 0px;  */   
    }

    #grad_footer_comic{
        background-image: linear-gradient(to top, black,  #202020);
    }

}

/* ---------PAGINA INTEGRANTES---------------------*/

#grad_integrantes{
    width: 100%;
    background-image: linear-gradient(to top, black,  #202020);
    display: flex;
    justify-content: center;
}

.logo_integrantes{
    width: 40%;
    height: auto;    
    border-left: solid 1px orange;
    border-right: solid 1px orange;
    padding: 1px;                  
} 

.menu_principal_integrantes{
    background-color: rgba(116, 13, 13, 0.495);   
    text-align: center; 
    border-top: solid 1px orange;
    border-bottom: solid 1px orange; 
    margin: 0px 0px 10px 0px;
}

.menu_principal_integrantes ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
} 
.menu_principal_integrantes ul li{
    list-style-type: none; 
    padding: 20px 20px;  
      
} 
.menu_principal_integrantes ul li a{
    color: orange;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 5px;
    font-weight: bold;
    background-color: #202020;     
}
.menu_principal_integrantes ul li a:hover{
    background-color: orange;
    color:black;
} 

.estilos_lista_integrantes{
    text-align: center;
    padding: 40px 500px ;        
    background-image: url("../multimedia/integrantes.jpg");
    background-repeat: no-repeat;
    background-position: center center;          
}

.estilos_lista_integrantes ul li a{
    color: orange;
    font-size: 18px;
    line-height: 4; 
    margin: 15px;
    font-weight: bold;
    background-color: black;            
}

.bajo{        
    list-style-image:url("../multimedia/bajo.png"); 
           
}
.voz{    
    list-style-image:url("../multimedia/voz.png");    
}
.guitarra{    
    list-style-image:url("../multimedia/guitarra.png");
}
.bata{    
    list-style-image:url("../multimedia/bata.png");
}

h1{    
    margin: 0px ;
}

.integrantes_banda div{
    background-color: rgba(116, 13, 13, 0.495);
    margin: 20px 0px;    
}

.integrantes_banda div p{
    color: orange; 
    font-size: 15px; 
    text-align: justify;
    padding: 10px;          
}

.integrantes_banda div img{
    width: 40%;
    height: auto;
    margin: 5px;    
}

.integrantes_banda div p span{
    font-size: 20px;
    background-color: orange;
    color: black; 
    font-weight: bold;
    padding: 4px;   
}

.integrantes_banda div a{
    color: orangered;
    font-size: 15px;
    text-decoration: none;
    /* margin: 655px; */
}

.area_footer_integrantes{
    position: fixed;
    bottom: 1px;                 
}

#grad_footer_integrantes{
    background-image: linear-gradient(to top, black,  #202020);
}


/* ------------- PAGINA CONTACTO------------------------------*/
.estilos_formulario{
    color: orange; 
    font-size: 20px;
    text-align: center;
    background-color: rgba(116, 13, 13, 0.495);
    margin: 5px 275px;
}

.estilos_formulario div{
    display: block;
    margin: 20px;       
}

.mensaje label{
    display: block;
    margin: 0px 300px 0px 5px;    
}

.estilos_formulario div input, textarea{
    background-color: orange;
    font-size: 20px;         
}

.estilos_formulario select{
    background-color: orange;
    font-size: 15px;
    font-weight: bold;     
}

/* ------------- PAGINA MULTIMEDIA------------------------------*/
.videos_funcircus div{
    background-color: rgba(116, 13, 13, 0.495);
    margin: 10px 275px;
    padding: 5px;    
}

.videos_funcircus h2{
    font-size: 20px;
    text-align: justify;
    color: orange;
    margin: 0px 275px;
}

.videos_funcircus p{
    color: orange;
    font-size: 15px;
    margin: 10px 0px;
}

.menu_multimedia{
    text-align: center;
}

.menu_multimedia ul li a{
    color: orange;
    font-size: 18px;
    line-height: 4; 
    margin: 15px;
    font-weight: bold;
    background-color: rgba(116, 13, 13, 0.495);
    text-decoration: none;
}

.videos_funcircus div a{
    color: orangered;
    font-size: 15px;
    text-decoration: none;
    display: block;
    text-align: center;    
}


/* ------------- PAGINA DISCOGRAFIA------------------------------*/
.discografia_funcircus div{
    background-color: rgba(116, 13, 13, 0.495);
    margin: 10px 275px;
    padding: 5px;    
}

.discografia_funcircus h2{
    font-size: 20px;
    text-align: justify;
    color: orange;
    margin: 0px 275px;
}

.discografia_funcircus p{
    color: orange;
    font-size: 15px;
    margin: 10px 0px;
}

.discografia_funcircus div a{
    color: orangered;
    font-size: 15px;
    text-decoration: none;
    display: block;
    text-align: center;    
}

/*--PAGINA PRUEBA-FLEXBOX*/

.flex_padre{
    /*height: 1500px;*/
    /*background-color:rgb(182, 17, 17);*/
    /*margin: 40px 275px;*/
    color: orange;
    font-size: 15px;
    /*border: solid 2px orange;*/
    
    display: flex;
    flex-direction: row;
    /*flex-direction: row-reverse;*/
    /*flex-direction: column;*/
    /*flex-direction: column-reverse;*/
    flex-wrap: wrap;
    /*flex-wrap: wrap-reverse;*/
    
    justify-content: center;

    /* ALIGN ITEM SE UTILIZA SI TENEMOS SOLO 1 LINEA/FILA DE HIJOS*/
    /*align-items: stretch; /*solo funciona si los hijos no tienen ningun tamaño predeterminado*/
    /*align-items: center;*/
    /* ALIGN CONTENT SE UTILIZA SI TENEMOS MAS DE 1 LINEA/FILA DE HIJOS*/
    /*align-content: center;*/
}
.flex_padre div img{
    margin: 10px;
}
  





