
/*RESETEO DEL SITIO*/
*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box; /* es para mantener un tamaño fijo de una caja*/
}

/*---ESTILOS GENERAL---*/
html{
    font-size: 62.5%;    
}

body{
    background-color: #202020;    
    font-style: italic;   
    font-family: 'Montserrat', sans-serif;
}

/* ---------------CONTENEDOR INDEX------------------------*/

.contenedor{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr 0.1fr 0.1fr;
    grid-template-areas:     
    "logo"
    "menus"
    "main"
    "desc"
    "footer";    
}

.logo{
    width: 60%;
    height: auto;    
    border-left: solid 1px orange;
    border-right: solid 1px orange;
    padding: 1px;           
} 

#grad{
    background-image: linear-gradient(to top, black,  #202020);
}

.area_logo{
    position: sticky;
    top: 0px;
    z-index: 1000px;
    grid-area: logo;
    display: flex;
    justify-content: center; 
}

.area_main{
    grid-area: main;
}

.menu_principal{
    grid-area: menus; 
    background-color: rgba(116, 13, 13, 0.495);   
    text-align: center; 
    border-top: solid 1px orange;
    border-bottom: solid 1px orange;           
}

.menu_principal ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
} 

.menu_principal ul li{
    list-style-type: none; 
    padding: 20px 20px;    
}

.menu_principal ul li a{
    color: orange;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 5px;
    font-weight: bold;
    background-color: #202020;     
}

.menu_principal ul li a:hover{
    background-color: orange;
    color:black;
}

.estilos_foto_principal{
    height: auto;
    text-align: center;
}

.estilos_foto_principal img{
    width: 30%;
    height: auto;      
    padding: 5px;
    border: solid 1px orange; 
    margin: 40px;   
}

.descripcion_banda{    
    grid-area: desc;
    margin: 20px 300px;
    padding: 10px; 
    border-top: solid 1px orange;     
}

.descripcion_banda p{
    font-size: 15px;       
    color: orange;     
}

.descripcion_banda p span{
    background-color: orange;       
    color: black;
    font-weight: bold;
    padding: 2px;     
}

.area_footer{
    grid-area: footer;
    position: fixed;
    bottom: 1px;                 
}

/* ----TAMAÑO TABLET INDEX-------- */

 @media  screen and (max-width: 768px ) {
    .contenedor{
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 0.8fr 0.1fr 0.1fr;
        grid-template-areas:     
        "logo logo"
        "main menus"
        "desc desc"
        "footer footer";    
    }    

    .area_logo{
        border-bottom: solid 1px orange;        
    }

    .header_index{
        position: inherit;
    }

    .menu_principal{
        border-top: none;
        border-bottom: none;                  
    }

    .menu_principal ul{
        display: flex;
        flex-direction: column;
        justify-content: center;               
    } 

    .menu_principal ul li{
        display: flex;
        flex-direction: column;
        justify-content: center;        
        padding: 10px 10px;
        margin: 0px 80px;        
    }

    .descripcion_banda{
        margin: 0px;                    
    }     

    .area_main{
        display: flex;
        flex-direction: column;
        justify-content: center;        
    }

    .estilos_foto_principal{
        display: flex;
        flex-direction: row;
        justify-content: center;                
    }

    .estilos_foto_principal img{
        width: 65%;
        height: auto;
        margin: 0px;        
    }

    .area_footer{      
        position: inherit;                               
    }    
    
    .area_footer div{
        text-align: center;
        background-color: rgba(116, 13, 13, 0.495); 
        padding: 50px;          
    }    
    
    #grad_footer{
        background-image: linear-gradient(to top, black,  #202020);
    }    
} 

/* ----TAMAÑO CELU INDEX-------- */

@media  screen and (max-width: 425px ) {
    .contenedor{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.4fr 0.4fr 0.1fr;
        grid-template-areas:     
        "logo"        
        "main"
        "menus"
        "footer";    
    }    

    .logo{
        width: 90%;
        height: auto;
        border-left: none;
        border-right: none;                         
    } 

    .menu_principal ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: solid 1px orange;
        border-bottom: solid 1px orange;
    } 

    .menu_principal ul li{
        padding: 15px 15px;        
    }

    .descripcion_banda{
        display: none;       
    }    

    .estilos_foto_principal img{
        width: 50%;
        height: auto;
        margin: 20px;           
    }

    .estilos_foto_principal{
        border: none;              
    }

    .area_footer{      
        position: inherit;                               
    }    
    
    .area_footer div{
        text-align: center;
        background-color: rgba(116, 13, 13, 0.495); 
        padding: 5px;          
    }

    #grad_footer{
        background-image: linear-gradient(to top, black,  #202020);
    }
} 

/* -------------  CONTENEDOR COMIC------------------------------*/

.contenedor_comic{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.01fr 0.03fr 0.03fr 0.2fr 0.5fr 0.1fr;
    grid-template-areas:     
    "logo_comic"
    "menu_comic"
    "main_comic" 
    "alinear"   
    "capitulos"
    "footer_comic"; 
}

.logo_comic{
    width: 60%;
    height: auto;    
    border-left: solid 1px orange;
    border-right: solid 1px orange;
    padding: 1px;           
} 

#grad_comic{
    background-image: linear-gradient(to top, black,  #202020);    
}

.area_logo_comic{
    position: sticky;
    top: 0px;   
    z-index: 1000px;
    grid-area: logo_comic;
    display: flex;
    justify-content: center; 
}

.area_main_comic{
    grid-area: main_comic;
}

h1{
    font-size: 25px;
    text-align: center;    
    color: orange;    
}

.centrar_intro_comic{
    display: flex;
    justify-content: center;
}

.intro_comic{
    width: 80%; 
    height: auto;   
    color: orange;
    font-size: 15px;
    background-color:  rgba(116, 13, 13, 0.495);   
    padding: 5px;
    text-align: justify;    
}

.dimension_foto_comic{
    width: 100%;
    height: auto;
}

.foto_comic{    
    padding: 40px;
}

.menu_principal_comic{      
    grid-area: menu_comic; 
    background-color: rgba(116, 13, 13, 0.495);   
    text-align: center; 
    border-top: solid 1px orange;
    border-bottom: solid 1px orange;         
}

.menu_principal_comic ul{ 
    display: flex;
    flex-direction: row;
    justify-content: center;    
}
.menu_principal_comic ul li{
    list-style-type: none; 
    padding: 20px 20px;    
}
.menu_principal_comic ul li a{
    color: orange;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 5px;
    font-weight: bold;
    background-color: #202020;  
}
.menu_principal_comic ul li a:hover{
    background-color: orange;
    color:black;
}

.alinear{
    grid-area: alinear;
    display: flex;
    flex-direction: row;
    justify-content: center;                   
}

.estilos_comic ul li a{
    color: orange;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    font-weight: bold;
    border-bottom: solid 1px orange;      
}

.estilos_comic ul li{    
    font-weight: bold;
    padding: 10px ; 
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;          
}

.estilos_comic ul{
    padding: 25px; 
    margin: 10px 50px 0px 0px;        
}

.comic{
    width: 90%;    
    height: auto;
    margin: 5px;
}

.capitulos{
    grid-area: capitulos;    
}

.capitulos div{
    background-color:  rgba(116, 13, 13, 0.495);
    padding: 5px;
    text-align: center;     
}

.comic{
    width: 70%;    
    height: auto;
    margin: 5px;
}

h3{
    width: 40%;
    background-color: black;
    padding: 5px;
    font-size: 18px;
    color: orange; 
}

.capitulos h2{
    font-size: 20px;
    text-align: justify;
    color: orange;
    margin: 20px 0px;
    border-top: solid 1px orange;  
}

.capitulos div a{
    color: orangered;
    font-size: 15px;
    text-decoration: none;
    display: block;
    text-align: center;    
}

.area_footer_comic{
    grid-area: footer_comic;
    position: fixed;
    bottom: 1px;                 
}

/* ----TAMAÑO TABLET COMIC-------- */

@media  screen and (max-width: 768px ) {
    .contenedor_comic{
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.6fr 0.1fr;
        grid-template-areas:     
        "logo_comic logo_comic"
        "main_comic menu_comic"
        "alinear alinear"    
        "capitulos capitulos"
        "footer_comic footer_comic";     
    }    
    
    .area_logo_comic{        
        position: sticky;
        top: 0px;
        z-index: 1000px; 
        border-bottom: solid 1px orange;        
    }

    h1{ 
        background-color: rgba(116, 13, 13, 0.495);       
        padding: 5px;        
    }

    h3{        
        font-size: 15px;         
    }

    .intro_comic{    
        background-color: #202020; 
        margin: 0px 5px;
        width: 90%;
    }

    .dimension_foto_comic{
        width: 90%;        
    }

    .foto_comic{ 
        padding: 10px;
    }

    .alinear{
        border-top: solid 1px orange;
    }
    .estilos_comic ul{
        padding: 25px; 
        margin: 10px 1px 0px 0px;        
    }

    .header_comic{
        position: inherit;
    }

    .menu_principal_comic{
        height: 350px;
        border-top: none;
        border-bottom: none;                          
    }

    .menu_principal_comic ul{
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;                             
    } 

    .menu_principal_comic ul li{
        display: flex;
        flex-direction: column;
        justify-content: center;        
        padding: 10px;
        margin: 0px 80px;               
    } 
    
    .area_footer_comic{         
        position: inherit;                               
    }    
    
    .area_footer_comic div{
        text-align: center;
        background-color: rgba(116, 13, 13, 0.495); 
        padding: 50px;            
    }
    
    #grad_footer_comic{
        background-image: linear-gradient(to top, black,  #202020);
    }    
}

/* ----TAMAÑO TABLET 2 COMIC-------- */

@media  screen and (max-width: 614px ){

    .intro_comic{
        font-size: 10px;
    }
}

/* ----TAMAÑO CELU COMIC-------- */

@media  screen and (max-width: 425px ) {
    .contenedor_comic{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 0.04fr 0.01fr 0.01fr 0.1fr 0.3fr 0.01fr;
        grid-template-areas:     
        "logo_comic"
        "menu_comic"
        "main_comic"
        "alinear"    
        "capitulos"
        "footer_comic";     
    } 

    .logo_comic{
        width: 90%;
        height: auto;
        border-left: none;
        border-right: none;                  
    }     

    h1{ 
        text-align: center;       
    }

    .capitulos h2{
        font-size: 12px;        
        margin: 20px 0px;
        padding: 1px;        
    }

    h3{  
        width: 100%;      
        font-size: 50px;         
    }

    .intro_comic{
        display: none;
    }

    .foto_comic{
        text-align: center;                
    }
    
    .dimension_foto_comic{
        width: 80%;        
    }

    .alinear{
        display: flex;
        flex-wrap: wrap;           
    }

    .menu_principal_comic{
        height: auto;
    }

    .menu_principal_comic ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: solid 1px orange;
        border-bottom: solid 1px orange;
    } 

    .menu_principal_comic ul li{
        padding: 10px 10px;               
    }

    .area_footer_comic{      
        position: inherit;                               
    }    
    
    .area_footer_comic div{        
        text-align: center;
        background-color: rgba(116, 13, 13, 0.495); 
        padding: 5px;          
    }

    #grad_footer_comic{
        background-image: linear-gradient(to top, black,  #202020);
    }

}

